BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "oscout0" SITE "10" ;
LOCATE COMP "cdiv[0]" SITE "56" ;
LOCATE COMP "cdiv[1]" SITE "55" ;
LOCATE COMP "cdiv[2]" SITE "50" ;
LOCATE COMP "cdiv[3]" SITE "49" ;
LOCATE COMP "cdiv[4]" SITE "45" ;
