BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "outr0[0]" SITE "74" ;
LOCATE COMP "outr0[1]" SITE "76" ;
LOCATE COMP "outr0[2]" SITE "78" ;
LOCATE COMP "outr0[3]" SITE "82" ;
LOCATE COMP "inkey0[0]" SITE "81" ;
LOCATE COMP "inkey0[1]" SITE "77" ;
LOCATE COMP "inkey0[2]" SITE "75" ;
LOCATE COMP "inkey0[3]" SITE "73" ;
LOCATE COMP "clk0" SITE "10" ;
LOCATE COMP "en0" SITE "57" ;
LOCATE COMP "cdiv0[0]" SITE "56" ;
LOCATE COMP "cdiv0[1]" SITE "55" ;
LOCATE COMP "cdiv0[2]" SITE "50" ;
LOCATE COMP "cdiv0[3]" SITE "49" ;
LOCATE COMP "cdiv0[4]" SITE "45" ;
LOCATE COMP "outcoder0[0]" SITE "128" ;
LOCATE COMP "outcoder0[1]" SITE "125" ;
LOCATE COMP "outcoder0[2]" SITE "126" ;
LOCATE COMP "outcoder0[3]" SITE "121" ;
LOCATE COMP "outcoder0[4]" SITE "122" ;
LOCATE COMP "outcoder0[5]" SITE "119" ;
LOCATE COMP "outcoder0[6]" SITE "120" ;
LOCATE COMP "outtransist[0]" SITE "139" ;
LOCATE COMP "outtransist[1]" SITE "138" ;
LOCATE COMP "outtransist[2]" SITE "140" ;
LOCATE COMP "outtransist[3]" SITE "141" ;
